.container {
  background-color: var(--border-color);

  &:hover {
    background-color: var(--border-hover-color);
  }

  &:active {
    background-color: var(--border-active-color);
  }

  &:has(button:disabled) {
    background-color: var(--border-disabled-color);
  }
}

.button {
  background-color: var(--bg-color);
  color: var(--text-color);

  &:hover {
    background-color: var(--bg-hover-color);
    color: var(--text-hover-color);
  }

  &:active {
    background-color: var(--bg-active-color);
    color: var(--text-active-color);
  }

  &:disabled {
    &, &:hover, &:active {

      background-color: var(--bg-disabled-color);
      color: var(--text-disabled-color);
    }
  }
}
