@reference 'tailwindcss';

.closeBtn {
  @apply
    fixed top-4 right-4 h-10 w-10
    cursor-pointer    

    text-2xl text-center
    align-baseline
    text-purple-600
    hover:text-cyan-400
    active:text-cyan-600

    bg-transparent
    hover:bg-purple-600
    active:bg-purple-700

    border-2 rounded-xs
    border-purple-700
    hover:border-transparent
    active:border-cyan-600;

  line-height: 35px;
}
